@model Students
<form method="post" enctype="multipart/form-data">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="~/uploads/students/@Model.ImageUrl" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <p class="card-text">@Model.Description</p>

        </div>
        <button  class="btn btn-danger">Delete</button>
        <a asp-action="index" asp-controller="student" class="btn btn-secondary">Back To home</a>
    </div>
</form>